.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
}

.logo{
  font-family: 'DMSans-Bold', sans-serif;
  font-weight: 700;
  text-decoration: none; 
  color: var(--black);
  transition: color 0.3s ease; 
  font-size: 35px;
  text-transform: uppercase;
}

.logo__text {
  color: var(--accent);
}

.nav__list {
  display: flex;
  justify-content: space-around;
  list-style: none;
  min-width: 320px;
}

.nav__link {
  font-family: 'DMSans-Regular', sans-serif;
  text-decoration: none;
  padding: 10px;
  color: var(--black);
  transition: all 0.3s ease; 
}

.nav__link:hover {
  color: var(--accent);
  border-bottom: 3px solid var(--black);
}

.nav__container{
  display: flex;
  justify-content: space-between;
  min-width: 200px;
}

.nav__button {
  padding: 4px 15px;
  border-radius: 6px;
  height: 32px;
  background-color: var(--black);
  color: var(--white);
  border: none;
  transition: all 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.nav__button:hover {
  background-color: var(--accent);
  color: var(--white);
  border: none;
}