.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #333;
  color: white;
}

.nav-links {
  display: flex;
}

.nav-links a {
  color: white;
  text-decoration: none;
  margin-right: 15px;
}

.auth-button-container button {
  padding: 8px 12px;
  background-color: #4caf50;
  color: white;
  border: none;
  cursor: pointer;
}

.auth-button-container button:hover {
  background-color: #45a049;
}
